@media(max-width:1220px){
    .content-left > img{
        height: 400px;
    
    }
    .content-right > h3{
        font-size: 38pt;
        width: 500px;
    }
    .about-p{
        font-size: 15pt;
        /* padding-right: 90px; */
        width: 500px;
    }
    .about-top > h2{
        font-size: 50pt;
    }
    .content-right{
        margin-left: 30px;
        margin-right: 20px;
    }
    .proj-box{
        height: auto;
    }
}
@media(max-width:1050px){
    nav{
        display: none;
    }
    .about{
        background-size: auto;
    }
}
@media(max-width:1000px){
    .about-content{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .content-right{
        margin: 0px;
        align-items: center;
        width: 60%;
        margin-bottom: 60px;
    }
    .content-left > img{
        margin-bottom: 30px;
    }
    .content-left{
        justify-content: center;
        align-items: center;
    }
    .about{
        padding-top: 40px;
    }
}
@media(max-width:935px){
    .proj-bottom{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .proj-left{
        margin-bottom: 100px;
    }
    .proj-box > p{
        padding-bottom: 40px;
    }
    .projects{
        height: auto;
        padding-bottom: 100px;
    }
}
@media(max-width:900px){
    img[src="./Assets/5.png"]{
        display: none;
    }
    .about-top > h2{
        font-size: 35pt;
    }
    .about-top > img{
        width: 120px;
        left: 30px;
    }
}
@media(max-width:650px){
    .proj-box{
        width: auto;
    }
    .proj-top > img{
        height: 80px;
    }
    .proj-top > h4{
        font-size: 40pt;
        position: relative;
        bottom: 10px;
    }
    .proj-box > h5{
        font-size: 38pt;
    }
    .proj-box > h6{
        font-size: 30pt;
    }
    .proj-box > p{
        font-size: 16pt;
    }
}
@media(max-width:600px){
    .hero > img{
        display: none;
    }
    .main > img{ 
        width: 330px;
    }
    .main > h1{
        font-size: 26pt;
    }
    .main{
        position: relative;
        top: 100px;
    }
    .about-top > h2{
        font-size: 25pt;
    }
    .about-top > img{
        width: 100px;
        left: 20px;
    }
    .content-left > img{
        height: 300px;
        border-radius: 10px;
    }
    .content-right > h3 {
        font-size: 27pt;
        width: 340px;
    }
    .about-p{
        font-size: 12pt;
        width: 340px;
    }
}
@media (max-width:500px){
    .proj-box > p{
        font-size: 14pt;
        padding: 0px 10px 20px 10px;
    }
}
@media (max-width:455px){
    .about-top > h2{
        font-size: 20pt;
    }
    .about-top > img{
        height: 100px;
        left: 10px;
    }
    .proj-bottom{
        margin-left:4px ;
        margin-right:4px ;
    }
}
@media (max-width:385px){
    .about-top > h2{
        /* font-size: 20pt; */
        /* position: relative;
        left: 1px; */
        text-align: center;
    }
    .about-top > img{
        height: 100px;
        left: 40px;
    }
    .content-left > img{
        height: 250px;
        border-radius: 10px;
    }
    .content-right > h3 {
        font-size: 27pt;
        width: 286px;
    }
    .about-p{
        font-size: 12pt;
        width: 286px;
    }
}
