*{
    margin: 0;
    padding: 0;
}
body{

    overflow-x: hidden;
}
.container{

    overflow: hidden;
}
.hero{
    background-color: #e7e7b0;
    height: 100vh;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

nav > ul{
    display: flex;

}
.ul-1{
    margin-left: 30px;
}
.ul-2{
    padding-left: 30px;
}
nav > ul > a >li{
    list-style: none;
    font-family: 'Etna', sans-serif;
    /* font-family: 'Gill', sans-serif; */
    color: #041900;
    font-size: 23pt;
    margin: 0px 40px;
    
}
nav > ul > a{
    text-decoration: none;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main > img{
    width: 556.3px;
}
h1{
    font-family: 'Etna', sans-serif;
    font-size: 33.1pt;
    color: #041900;
    margin-top: 15px;
}

img[src="./Assets/2.png"]{
    position: absolute;
    left: -300px;
    top: 1px;
    height: 500px;
}
img[src="./Assets/3.png"]{
position: absolute;
right: -240px;
    top: 70px;
height: 400px;
}
img[src="./Assets/4.png"]{
position: absolute;
left: -200px;
    top: 500px;
height: 400px;
clip-path: inset(0 0 42.5% 0);
}
img[src="./Assets/5.png"]{
    position: absolute;
    height: 200px;
top: 640px;
left: 27%;
clip-path: inset(0 0 55% 0);

}
img[src="./Assets/6.png"]{
position: absolute;
height: 450px;
top: 500px;
right: -240px;
clip-path: inset(0 0 48.8% 0);
}


/* about */
.about{
    height: 105vh;
    background-color: #041900;
    background-image: url(./Assets/bg-about.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-top > img{
    width: 200px;
    position: relative;
    left: 80px;
}
h2{
    position: relative;
    right: 50px;
    font-size: 60.1pt;
    color: white;
    font-family: 'Etna', sans-serif;
}

.about-content{
    display: flex;
}

.content-left{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content:flex-end ;
}
.content-left > img{
    width: 80%;

}

h3{
    font-size: 50pt;
    font-family: 'Etna', sans-serif;
color: white;
/* display: inline-block; */
width: 600px;
text-align: center;
background-color: #004d09;
border-radius: 10px;
padding: 7px 0px 25px 0px;
}
.content-right{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    margin-left: 50px;
    width: 50%;   
}
.about-p{
width: 600px;
font-size: 18.80pt;
margin-top: 20px;
color: white;
font-family: 'Gill', sans-serif;
}

.content-right > button{
    width: 250px;
    font-size: 24pt;
    font-family: 'Etna', sans-serif;
    padding: 7px 0px 12px 0px;
    background-color: #004d09;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    transition: 0.1s ease;
    cursor: pointer;
}

.content-right > button:hover{
    background-color: white;
    color: #004d09;
}