*{
    margin: 0;
    padding: 0;
}
body{

    overflow-x: hidden;
}
.container{

    overflow: hidden;
}
.hero{
    background-color: #e7e7b0;
    min-height: 730px;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

nav > ul{
    display: flex;

}
.ul-1{
    margin-left: 30px;
}
.ul-2{
    padding-left: 30px;
}
nav > ul > a >li{
    list-style: none;
    font-family: 'Etna', sans-serif;
    /* font-family: 'Gill', sans-serif; */
    color: #041900;
    font-size: 23pt;
    margin: 0px 40px;
    
}
nav > ul > a{
    text-decoration: none;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main > img{
    width: 556.3px;
}
h1{
    font-family: 'Etna', sans-serif;
    font-size: 33.1pt;
    color: #041900;
    margin-top: 15px;
}

img[src="./Assets/2.png"]{
    position: absolute;
    left: -300px;
    top: 1px;
    height: 500px;
    
}
img[src="./Assets/3.png"]{
position: absolute;
right: 0px;
    top: 70px;
height: 400px;
/* clip-path: inset(0 50% 0 0); */
}
img[src="./Assets/4.png"]{
position: absolute;
left: -200px;
    top: 500px;
height: 400px;
clip-path: inset(0 0 42.5% 0);
}
img[src="./Assets/5.png"]{
    position: absolute;
    height: 200px;
top: 640px;
left: 27%;
clip-path: inset(0 0 55% 0);

}
img[src="./Assets/6.png"]{
position: absolute;
height: 450px;
top: 500px;
right: 0px;
clip-path: inset(0 0 48.8% 0);
}


/* about */
.about{
    /* height: 105vh; */
    min-height: 800px;

    background-color: #041900;
    background-image: url(./Assets/bg-about.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}
.about-top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-top > img{
    width: 200px;
    position: relative;
    left: 80px;
}
h2{
    position: relative;
    right: 50px;
    font-size: 60.1pt;
    color: white;
    font-family: 'Etna', sans-serif;
}

.about-content{
    display: flex;
}

.content-left{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content:flex-end ;
}
.content-left > img{
    height: 500px;

}

h3{
    font-size: 50pt;
    font-family: 'Etna', sans-serif;
color: white;
/* display: inline-block; */
width: 600px;
text-align: center;
background-color: #004d09;
border-radius: 10px;
padding: 7px 0px 25px 0px;
}
.content-right{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    margin-left: 50px;
    width: 50%;   
}
.about-p{
width: 600px;
font-size: 18.80pt;
margin-top: 20px;
color: white;
font-family: 'Gill', sans-serif;
}

.content-right > button{
    width: 250px;
    font-size: 24pt;
    font-family: 'Etna', sans-serif;
    padding: 7px 0px 12px 0px;
    background-color: #004d09;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    transition: 0.1s ease;
    cursor: pointer;
}

.content-right > button:hover{
    background-color: white;
    color: #004d09;
}

/* projects */

img[src="./Assets/proj-top.png"]{
    height: 112.1px;
}

.projects{
    background-color: #e7e7b0;
    height: 100vh;
    min-height: 730px;

    background-image: url(./Assets/bg-transparent/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.proj-top{
    display: flex;
    justify-content: center;
    padding-top: 20px;

}

h4{
    font-size: 52.6pt;
    font-family: 'Etna', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}

.proj-bottom{
    display: flex;
    justify-content: center;
    margin: 100px 20px 0px 20px;
}

.proj-box{
    background-color: #041900;
    color: #fffdee;
    margin: 0px 20px;
    width: 615px;
    border-radius: 14px;
    height: 370.6px;
}

h5{
    font-size: 44pt;
    font-family: 'Etna', sans-serif;
    background-color: #004d09;
    border-radius: 14px;
    position: relative;
    bottom: 10px;
    text-align: center;
    padding: 0px 0px 14px 0px;
    
}
h6{
    font-size: 34.7pt;
    font-family: 'Etna', sans-serif;
    text-align: center;
    margin-bottom: 30px;

}
.proj-box > p{
font-family: 'Gill', sans-serif;
font-size: 15pt;
padding: 0px 45px;
text-align: justify;
}


.framework{
    background-color: #041900;
    min-height: 820px;
}

.framework-top{

    display: flex;
    justify-content: center;
    align-items: center;
}
.framework-top > img[src="./Assets/heading-leaf.png"]{
    width: 233px;
    transform: rotate(4.3deg);
}
.framework-top > h2{
    all: unset;
    font-size: 60pt;
    /* font-weight: 500; */
    font-family: 'Etna', sans-serif;
    /* color: #e7e7b0; */
    color: #fffdee;
    position: relative;
    right: 100px;
}

.framework-pdf{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pdf{
    border-radius: 20px;
    /* border: solid 20px #e7e7b0; */
}

.contact{
    min-height: 730px;
    background-color: #e7e7b0;
}

.h6{
    all: unset;
    font-size: 60pt;
    font-family: 'Etna', sans-serif;
    color: #041900;
    position: relative;
    right: 20px;
    bottom: 15px;
}

.contact-top > img{
    width: 217.7px;

}

.contact-top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #909d6b;
    height: 420px;
    width: 414.5px;
    margin: 0px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.cards{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.card > img{
    height: 180px;
    width: 180px;
    /* background-color: blue; */
    margin-top: 20px;
    border-radius: 10px;
}

.card > h1{
    font-size: 38pt;
    color: #041900;
    position: static;
    margin-top: 8px;
}
.card > h2{
    font-size: 18pt;
    color: #041900;
    position: static;
    margin-top: 10px;
}

.last > img{
    height: 50px;
    /* border-radius: 50%; */
}
.last{
    display: flex;
    align-items: center;
    /* align-self: flex-end; */
    margin-top: auto;
    margin-bottom: 15px;
}

.last > h2{
    font-size: 20pt;
    color: #041900;
    position: relative;
    left: 8px;
    bottom: 5px;
}


van{
    display: none;
    position: fixed;
    background-color: #004d09;
    height: 100vh;
    width: 40vw;
    justify-content: flex-start;
    align-items: center;
    z-index: 10000;
    flex-direction: column;
    left: -700px;
    transition: 400ms ease;
}

van > ul > a{
    text-decoration: none;
}
van > ul > a > li{
    list-style: none;
    color: #e7e7b0;
    font-family: 'Etna', sans-serif;
    font-size: 32pt;
    margin: 40px 0px;
    text-align: center;
}

van > img{
    height: 170px;
    margin-top: 20px;
}

.top{
    margin-top: 20px;
}
.no2{
    font-size: 41px;
}


burger{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40px;
    width: 50px;
    position: fixed;
    right: 20px;
    top: 10px;
}
.line{
    background-color: #004d09;
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 6px;
    transition: 0.3s ease;
}

.line-2{
    transition: 0.1s;
}

.alter-1{
    transform: rotate(45deg) translateY(16px);
}
.alter-2{
    transform: scale(0) translateX(-50px);
}
.alter-3{
    transform: rotate(-45deg) translateY(-16px);
}
.show{
    left: 0px;
}
.blur{
    filter: blur(5px);
    position: relative; /* Ensure the blur only applies to elements inside the section */
    z-index: 1;
}
burger, van {
    position: fixed; /* Keep these elements outside the flow of blurred content */
    z-index: 100; /* Set a higher z-index to ensure they are on top */
}
.section{
    transition: 0.3s ease;
}