*{
    margin: 0;
    padding: 0;
    font-family: 'Etna', sans-serif;
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: #041900;
}
h1{
    font-size: 52.5pt;
    color: #e7e7b0;
    text-align: center;
    margin: 10px 0px;
    margin-bottom: 25px;
}
.container{
    overflow: hidden;
    padding: 0px 30px;
    background-image: url(./Assets/where-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
h2{
    color: #004d09;
    font-size: 35pt;
    background-color: #e7e7b0;
    border-radius:7px;
    margin:20px 0px ;
    padding: 8px 0px 15px 0px;
    width: 450px;
    text-align: center;
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.txt{
    color: #004d09;
    font-size: 17.4pt;
    background-color: #e7e7b0;
    border-radius:7px;
    line-height: 30px;
    padding: 20px 30px;
    text-align: justify;

}
.txt-1{
    color: #004d09;
    font-size: 17.4pt;
    background-color: #e7e7b0;
    border-radius:7px;
    line-height: 30px;
    padding: 20px 30px;
    text-align: justify;
    margin: 10px 20px;

}
h3{
    text-align: center !important;
    font-size: 20pt !important;
}
.divider{
    display: flex;
    margin: 40px 20px;
}
.divider > img{
    width: 400px;
    border-radius: 10px;
}
.right{
    margin: 0px 0px 0px 20px;
    font-size: 15pt;
    line-height: 24px;
}


/* responsive */

